{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# {{ parent() }} #}

    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Product{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    <div class="image_container">
      <img src="../img/{{ product.imagePath }}">
      <span>Просмотров: {{ product.clicks }} (id = {{ product.id }})</span>
    </div>
</div>
{% endblock %}
